
.center-dashboardContet{
    width: 60%;
   flex-wrap: wrap;
   position: absolute;
   top: 0;
    right:19%;
}
.right-dashboardContet{
    width: 20%;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}
.flex-container{
    display: flex;
    align-items: stretch;
    flex-wrap: nowrap;
}
