/* top header */
.profilePic{
    width: 50px; 
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;

}
.button{
   font-size: 20px;
   font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 20px;
}


/* Please â¤ this if you like it! */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;

	overflow-x: hidden;
 
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;


}
.sec-center {
  position: relative;
  max-width: 100%;
 
  text-align: center;
  z-index: 200;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked){
  position: absolute;
  left: -9999px;
  opacity: 0;
  pointer-events: none;
}
.dark-light:checked + label,
.dark-light:not(:checked) + label{
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 20000;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  cursor: pointer;
  transition: all 200ms linear;
  box-shadow: 0 0 25px rgba(255,235,167,.45);
}
.dark-light:checked + label{
  transform: rotate(360deg);
}
.dark-light:checked + label:after,
.dark-light:not(:checked) + label:after{
  position: absolute;
  content: '';
  top: 1px;
  left: 1px;
  overflow: hidden;
  z-index: 2;
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #102770;
  background-image: url('https://assets.codepen.io/1462889/moon.svg');
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked + label:after {
  opacity: 1;
}
.dark-light:checked + label:before,
.dark-light:not(:checked) + label:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1;
  display: block;
  border-radius: 50%;
  width: 46px;
  height: 46px;
  background-color: #114a56;
  background-image: url('https://assets.codepen.io/1462889/sun.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 200ms linear;
}
.dark-light:checked + label:before{
  background-color: #000;
}
.light-back{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  overflow: hidden;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
  background-position: center;
  background-repeat: repeat;
  background-size: 4%;
  height: 100%;
  width: 100%;
  transition: all 200ms linear;
  opacity: 0;
}
.dark-light:checked ~ .light-back{
  opacity: 1;
}
.dropdown:checked + label,
.dropdown:not(:checked) + label{
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 2;
  height: 50px;
  transition: all 200ms linear;
  border-radius: 4px;
  width: 220px;
  height: 60px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #E4F2E7;
font-weight: bold;

  cursor: pointer;
  color: #102770;
  box-shadow: 0 12px 35px 0 rgba(255,235,167,.15);
}
.dark-light:checked ~ .sec-center .for-dropdown{
  background-color: #102770;
  color: #ffeba7;

  box-shadow: 0 12px 35px 0 rgba(16,39,112,.25);
}
.dropdown:checked + label:before,
.dropdown:not(:checked) + label:before{
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -1;
  cursor: auto;
  pointer-events: none;
}
.dropdown:checked + label:before{
  pointer-events: auto;
}
.dropdown:not(:checked) + label .uil {
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil {
  transform: rotate(180deg);
  font-size: 24px;
  margin-left: 10px;
  transition: transform 200ms linear;
}
.section-dropdown {
  position: absolute;
  padding: 5px;
  background-color: #111;
  top: 70px;
  left: 0;
  width: 100%;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.4);
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown {
  background-color: #fff;
  box-shadow: 0 14px 35px 0 rgba(9,9,12,0.15);
}
.dropdown:checked ~ .section-dropdown{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.section-dropdown:before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 20px;
  content: '';
  display: block;
  z-index: 1;
}
.section-dropdown:after {
  position: absolute;
  top: -7px;
  left: 30px;
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent; 
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}
.dark-light:checked ~ .sec-center .section-dropdown:after {
  border-bottom: 8px solid #fff;
}

.section-dropdown > a {
  position: relative;
  color: #fff;
  transition: all 200ms linear;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px 0;
  padding-left: 20px;
  padding-right: 15px;
  margin: 2px 0;
  text-align: left;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;

    -ms-flex-pack: distribute;
}
.dark-light:checked ~ .sec-center .section-dropdown a {
  color: #102770;
}
.section-dropdown  > a:hover {
  color: #102770;
  background-color: #ffeba7;
}
.dark-light:checked ~ .sec-center .section-dropdown a:hover {
  color: #ffeba7;
  background-color: #102770;
}
a .uil {
  font-size: 22px;
}

/* top header */
.SearchBar2{
    border-radius: 20px;
        padding: 20px;
    margin: 0 20px 0 20px;
       width: 500px;
        background-color: #E4F2E7;
        height: fit-content;
        }
    .searchLine2{
        display: flex;
        justify-content:baseline;
        justify-items: center;
        flex-direction: row;

        
    }    
    .searchLine2 >ul{
        list-style-type: none;
    }
    .Prduct-container{

        top: 0;
        display: flex;
        align-items: stretch;    
        padding: 30px;
    }
    .Product-Right-side{
        /* padding: 20px; */
        display: flex;
position: absolute;
top: 20px;
right: 20px;
z-index: -1;
        width: 80%;
        flex-direction: column;
    }
    .Product_Left_Nav{
        display: flex;
        flex: 20%;
      
    }
    /* .product_details{
        display: flex;
        flex-wrap: nowrap;
        padding: 30px;
        background-color: burlywood;
        height: 500px;
    } */
    .Products-Btn{
       margin: 20px 0 50px 30px;
        width: 35rem;
        height: 3rem;
        background-color: #154666;
       border: 1px solid  #154666;
       border-radius: 10px;
    }
    .Products-Btn > a{
        color: #ffffff;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
       
        
    }
    .Product_Nav{
        margin-left: 30px;
        display: flex;
        width: 500px;
        flex-direction: row;
        justify-content: space-between;
    align-items: center;
    }
    .Product_Nav  .product_link{
        text-decoration: none;
        color: Black;
        background-color: #ffffff;
        padding: 10px;
        width: fit-content;
        border-radius: 10px;
      
    }
    .Product_Nav .active{
        text-decoration: none;
        color: Black;
        background-color: #154666;
        padding: 10px;
        width: fit-content;
        border-radius: 10px;
      
    }
    .product_link:active{
        background-color: #154666;
        padding: 10px;
        width: fit-content;
        border-radius: 10px;
      
    }

    .link_shadow{
        text-decoration: none;
        color: Black;
        background-color: #ffffff;
        padding: 10px 18px 10px 18px;
        width: fit-content;
        border-radius: 5px;
        text-align: center;
        font-size: 20   px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    .Product_table{
        padding: 20px;
        margin-top: 20px;
        margin-left: 50px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }
    .productPic{
        width: 90px;
        height: 90px;
        border-radius: 10px;
        padding: 5px;
    }
    .table_content{
        width: 100%;
        height: 100px;
    }
